#wraper{
	margin:0 auto;
	overflow:hidden;
	width:960px;
	height:auto;
}

.loaderAjax{
	display: none;
}

#contenedorImagen .fotografia{
	margin: 20px auto;
	width:120px;
	height:120px;
	border: 1px solid #ccc;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
}

#wraper .contentLayout{
    text-align: center;
}

/*Boostrap 5 columnas*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15{position: relative;min-height: 1px;padding-right: 10px;padding-left: 10px;}
.col-xs-15{width: 20%;float: left;}
@media (min-width: 768px) {
	.col-sm-15 {width: 20%;float: left;}
}
@media (min-width: 992px) {
    .col-md-15{width: 20%;float: left;}
}
@media (min-width: 1200px) {
    .col-lg-15{width: 20%;float: left;}
}


/*End Font*/
body{font-family: "Roboto Condensed", sans-serif;font-weight: 300;background: #e4e1e1;}
.reset-ul{list-style: none;padding-left: 0;margin: 0;}
.fluid-list{display: inline-block;vertical-align: top;width: 100%;}
.header{min-height: 70px;background: #000;}
.header .navbar{min-height: 70px;margin-bottom: 0;border:0;border-radius: 0;background: none;}
.header .navbar-nav>li>a{line-height: 70px;padding-top: 0;padding-bottom: 0;font-weight: 700;color: #fff;font-size: 16px;text-transform: uppercase;}
.header .navbar-nav>li>a.active, .header .navbar-nav>li>a:hover{color: #010522;text-decoration: underline;}
.header .nav-custom{margin-top: 18px;}
.header .nav-custom a{text-transform: capitalize!important;line-height: 35px!important;}
.header .nav-custom a.btn-crear{background: #010522;border-radius: 5px;}
.header .nav-custom a.btn-crear:hover{background: #010522;border-radius: 5px;text-decoration: underline!important;color: #fff;}
.header .navbar-brand{padding: 0;min-height: 70px;line-height: 70px;}
.header .navbar-brand img{margin-top: 15px;margin-right: 35px;}
/*prodcuto*/
.lead-servicios, .lead-eventos{padding: 50px 0 30px 0;background: #e4e1e1;}
.lead-bloque .lead-title h2{text-align: center;margin-top: 0;font-size: 30px;font-weight: 700;text-transform: uppercase;}
.lead-bloque .lead-title h2 span{width: 30px;height: 24px;display: inline-block;vertical-align: top;margin-right: 5px;background: url(https://web.leadgods.com/s/modules/application/persona/img/ico-producto.png?v1.31) no-repeat;margin-top: 3px;}
.lead-bloque .lead-title p{text-align: center;font-size: 22px;color: #999999;line-height: 120%;margin-bottom: 35px;}
.cnt-pad{padding: 0 12px;}
.lead-slider-p{padding: 0 10px;margin-bottom: 40px;}
article.lead-nota{background: #fff;border: 1px solid #E8E8E8;border-radius: 3px;box-shadow: 0 2px 0 #E8E8E8;}
article.lead-nota a{display: block;}
article.lead-nota a figure{position: relative;}
article.lead-nota a figure span{display: inline-block;height: 25px;background: #2c2c2c;font-size: 14px;color: #fff;line-height: 25px;padding: 0 20px;position: absolute;top: 10px;left: 0;font-weight: 700;text-transform: uppercase;z-index: 2;}
.spany{display: inline-block;height: 25px;background: #2c2c2c;font-size: 14px;color: #fff;line-height: 25px;padding: 0 20px;position: absolute;top: 10px;left: 0;font-weight: 700;text-transform: uppercase;z-index: 2;}
article.lead-nota a figure img{width: 100%;}
.cnt-nota-slider{padding: 18px 18px 0px;border:1px solid transparent; height: 110px}
.cnt-nota-slider h2{margin-top: 0;margin-bottom: 5px;color: #505050;font-size: 18px;font-weight: 700;}
.cnt-nota-slider h4{margin-top: 0;margin-bottom: 10px;color: #505050;font-size: 16px;}
.cnt-nota-slider p{color: #999999;font-size: 15px;line-height: 120%;margin-bottom: 15px;height: 40px;overflow: hidden;}
.cnt-cart{height: 32px;background: #23527c;padding: 0 10px;line-height: 32px;font-size: 20px;color: #fff;text-transform: uppercase;font-weight: 700;display: inline-block;border-radius: 5px;}
.cnt-cart span{font-size: 18px;margin-right: 5px;}
.ico-video{background: url(https://web.leadgods.com/s/modules/application/persona/img/ico-video.png?v1.31) no-repeat;width: 48px;height: 51px;position: absolute;left: 50%;top: 50%;margin-left: -24px;margin-top: -25px;z-index: 3;}
.bg{background: rgba(0, 157, 219, 0.1);display: none;position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 1;}
article.lead-nota a:hover .cnt-nota-slider{border:1px solid #009ddb;border-ra: ;dius: 0 0 3px 3px;box-shadow: 0 2px 0 #009ddb;}
article.lead-nota a:hover figure .bg{display: block;}
article.lead-nota a:hover .cnt-cart{background: #000;}
.custom-sl .owl-buttons div{text-indent: -999999px;width: 16px;height: 40px;position: absolute;top: 50%;margin-top: -20px;}
.custom-sl .owl-buttons div.owl-prev{background: url(https://web.leadgods.com/s/modules/application/persona/img/prev.png?v1.31) no-repeat;left: -10px;}
.custom-sl .owl-buttons div.owl-next{background: url(https://web.leadgods.com/s/modules/application/persona/img/next.png?v1.31) no-repeat;right: -10px;}


.list-num-c{margin-bottom: 25px;}
.custom-biialab .row{margin-left: -7px;margin-right: -7px;}
.custom-biialab .col-md-3, .custom-biialab .col-md-4{padding-left: 7px;padding-right: 7px;}
.users-stat{margin-bottom: 10px;}
.users-stat ul li{float: left; color: #848484;font-size: 13px;margin-right: 10px;}
.lead-list-type{padding: 50px 0 30px 0;background: #fff;}
.lead-list-type .lead-title h2{font-size: 22px;margin-bottom: 35px;}
.lead-bloque.lead-list-type .lead-title h2 span{margin-top: 0;}
.section--courses-features .col-md-4{position: relative;}
.section--courses-features i {top: 0;left: 10px;position: absolute;color: #E8E8E8;}
.section--courses-features .fa-smile-o{font-size: 55px;}
.section--courses-features .fa-laptop{top: -5px;left: 0;font-size: 60px;}
.section--courses-features .fa-thumbs-o-up{font-size: 45px;}
.i-group-light{width: 36px;height: 56px;background-position: -300px -150px;}
.i-bookmark-user{width: 44px;height: 52px;background-position: -350px -150px;}
.i-dmstk-tick-huge{width: 41px;height: 41px;background-position: -200px 0;}
.section--courses-features h3{margin: 0 0 20px 75px;font-size: 18px;color: #000;font-size: 22px;}
.section--courses-features p {margin-left: 75px;color: #505050;margin-right: 20px;font-size: 16px;}
.section--courses-features>.row{margin-bottom: 30px;}
.lead-list-embj{padding: 50px 0 30px 0;}
.lead-list-embj .lead-title h2{font-size: 23px;}




@media only screen and (max-width: 479px) {
    .avatar--for-mini--m {
        width: 48px;
        height: 48px
    }
    .avatar--for-mini--xl {
        width: 90px;
        height: 90px
    }
}

@media only screen and (max-width: 479px) {
    .user-badge--for-mini--m {
        min-height: 48px;
        padding: 3px 0 0 60px
    }
    .user-badge--for-mini--m .user-badge__link {
        min-height: 48px
    }
    .user-badge--for-mini--m .nickname {
        font-size: 16px
    }
    .user-badge--for-mini--m .permalink {
        font-size: 0.875rem
    }
}
.user-cards-list {
    list-style-type: none
}


.user-cards-list .btn-default{color: #FFFFFF;background-color: #848484;border-color: #848484;}
.user-badge--l>a{color: #505050;}
.user-badge--l>a strong{font-size: 18px!important;}
.user-badge--l>a:hover{color: #ff5a00;text-decoration: none;}
.user-cards-list .row{margin-left: -10px;margin-right: -10px;}
/**/
@media only screen and (max-width: 992px) {
	.cnt-content-s figure{margin-bottom: 15px;}
	.right-form{margin-top: 20px;text-align: center;}
	.social-footer{text-align: center;}
	.social-footer ul{float: inherit;display: inline-block;}
	.nav-footer{text-align: center;}
	.nav-footer ul{display: inline-block;}
	.tipo-cambio{text-align: center;}
	.footer-w{text-align: center;}
	.footer-w ul{display: inline-block;}
	.cnt-img-bg{background: none;}
	.header .navbar-nav>li>a{padding: 0 10px;}
	.cnt-form-f{float: inherit;}
}

.cookies-reminder {
    position: fixed;
    left: 0;
    background-color: #003d59;
    bottom: 0;
    color: #fff;
    width: 100%;
    z-index: 20;
    box-sizing: border-box;
    padding: 8px 25px 8px 25px;
    font-size: .9375rem;
    text-align: left;
}

.cookies-reminder .close {
 display: block;
 height: 25px;
 width: 25px;
 /* background: url(https://pangea.es/web/img/xicons.png.pagespeed.ic.dxQtIOo9HA.webp) -25px -8915px no-repeat; */
 position: absolute;
 top: 40%;
 right: 0;
 cursor: pointer;
 margin-top: 20px;
 z-index: 100;
}

.botom_register{
     font-size: 14px;
    margin-bottom: 0;
}

.regpadding{
 padding: 10px;
 background: #c9c9c9;
 margin:5px;
 color:#454545 !important;
}

.regpadding:hover{
 text-decoration: none;
 background: #010522;
 color: #fff;
}

.classregister{
 cursor:pointer;
 text-decoration:none;
 color:#454545 !important;
}

.regpaddingcheckect{
 padding: 10px;
 background: #7D7D7D;
 margin:5px;
 color:#fff !important;
}

.active2{
 background: #7D7D7D;
 padding: 10px;
 margin:5px;
 color:#fff !important;
}

/* Registro de Informacion de Datos - Registro de Informacion de Datos - Registro de Informacion de Datos */
/* Registro de Informacion de Datos - Registro de Informacion de Datos - Registro de Informacion de Datos */

.catalogue-list ul{
 /* border-bottom: 1px solid #ccc; */
 list-style-type: none;
 margin: 0;
 padding: 0;
}


.catalogue-list ul li{
 padding: 6px 0;
 position: relative;
 margin: 0;
}

.catalogue-list ul li ul{ padding-left:15px; }

.bulleted-list li{
 font-weight: 400;
 line-height: 20px;
 font-family: "Function Pro","Helvetica Neue",Arial,sans-serif;
 font-size: 14px;
}

.catalogue-list ul li a{font-family: "Function Pro","Helvetica Neue",Arial,sans-serif;font-size: 14px;margin: 0px;color: #333;}
.catalogue-list ul li a:hover{color: #010522;text-decoration: none;}
.catalogue-list ul li.active a{color: #010522;}
/* .bordertop{ border:1px solid #CCCCCC; } */
.category-name{
 font-size: 17px;
 font-weight: bold;
 color: #23527c;
 text-transform: uppercase;
}

/* Registro Contenedor - Registro Contenedor - Registro Contenedor  */
.registroContenedor{
 margin-bottom: 10px;
 background: #FFF;
 padding: 5px;
}

/* Acoordion - Acoordion - Acoordion - Acoordion - Acoordion - Acoordion - Acoordion */
button.accordion {
 cursor: pointer;
 padding: 0px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
 transition: 0.4s;
 background: #fff;
}


button.accordion.active, button.accordion:hover {
 color:#010522;
}

div.panel_categoria {
 padding: 0px;
 display: none;
 background-color: white;
}

.marginLeftRegister{
 margin-left:5px;
 margin-top: 4px;
 border-bottom: 1px solid #EEEBEB;
 padding-bottom: 3px;
}


.datBorde{
  font-family: "Function Pro","Helvetica Neue",Arial,sans-serif;
}

.tituloReg{
  font-family: "Function Pro","Helvetica Neue",Arial,sans-serif;
  font-size: 14px;
  margin: 0px;
  text-transform:capitalize;
}

.lead-profile{
	margin-top: 20px;
}
/*Precio biialab*/






@media only screen and (max-width: 991px) {
    .navbar .nav {
        margin: 0
    }
    .navbar .nav>li>a {
        margin: 0
    }
    .navbar .nav>li.active>a,
    .navbar .nav>li.active>a:hover,
    .navbar .nav>li.active>a:focus {
        position: relative
    }
    .navbar .nav>li.active>a:before,
    .navbar .nav>li.active>a:hover:before,
    .navbar .nav>li.active>a:focus:before {
        content: "";
        top: 50%;
        left: -10px;
        position: absolute;
        width: 4px;
        height: 20px;
        margin-top: -8px;
        background-color: #FF5A00
    }
    .navbar .nav>li.dots .dropdown-menu {
        display: block;
        position: static;
        margin: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none
    }
    .navbar .nav>li.dots .dropdown-menu:before {
        display: none
    }
    .navbar .nav>li.dots .dropdown-menu ul {
        margin: 0 !important
    }
    .navbar .nav>li.dots .dropdown-menu li a {
        padding: 0;
        color: #E8E8E8
    }
    .navbar .nav>li.dots .dropdown-menu li a:hover,
    .navbar .nav>li.dots .dropdown-menu li a:focus {
        color: #FF5A00
    }
    .navbar .nav>li.dots .dropdown-menu:after {
        display: none
    }
    .navbar .nav-left,
    .navbar .nav-right {
        float: none
    }
    .navbar .nav-left a {
        height: 50px;
        line-height: 50px;
        padding: 0
    }
    .navbar .user-nav {
        float: none
    }
    .navbar .user-nav>ul {
        margin-bottom: 0
    }
    .navbar .user-nav>ul a {
        margin: 0
    }
    .navbar .user-nav>ul>li.messages {
        top: 0;
        right: 65px;
        position: absolute
    }
    .navbar .user-nav>ul>li.cart {

    }
    .navbar .user-nav>ul>li.cart--alone {
        left: 10px
    }
    .nav-header-r{position: absolute;right: 25px;top: 0;}
    .navbar .user-nav>ul>li.user {
        position: static
    }
    .navbar .user-nav>ul>li.user .dropdown-menu {
        top: 50px;
        left: 0;
        position: absolute;
        width: 100%;
        height: calc(100vh - 45px);
        overflow-y: scroll;
        padding: 0 10px;
        background-color: #161616;
        border: 0;
        border-radius: 0 !important
    }
    .navbar .user-nav>ul>li.user .dropdown-menu h3.me {
        margin: 0
    }
    .navbar .user-nav>ul>li.user .dropdown-menu ul {
        margin: 0 0 20px
    }
    .navbar .user-nav>ul>li.user .dropdown-menu a {
        display: block;
        color: #E8E8E8;
        padding-top: 8px;
        padding-bottom: 8px
    }
    .navbar .user-nav>ul>li.user .dropdown-menu a i {
        top: 10px
    }
    .navbar .user-nav>ul>li.user .dropdown-menu a:hover,
    .navbar .user-nav>ul>li.user .dropdown-menu a:focus {
        color: #FF5A00
    }
    .navbar .user-nav>ul>li.user .dropdown-menu .divider {
        background-color: #505050
    }
    .navbar .user-nav>ul.loggedin li a.user-menu {
        top: 0;
        right: 10px;
        position: absolute;
        padding-left: 0;
        padding-right: 0
    }
    .navbar .user-nav>ul.loggedin li.open a.user-menu {
        background-color: transparent
    }
    .navbar .search-form {
        margin: 15px 0 25px
    }
}

.profiler-results {
    display: none
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .navbar .container,
    .navbar .bottom-flash-alerts .noty_bar,
    .bottom-flash-alerts .navbar .noty_bar {
        padding-left: 0;
        padding-right: 0
    }
}

@media only screen and (min-width: 992px) {
    .navbar .nav>li.active>a,
    .navbar .nav>li.active>a:hover,
    .navbar .nav>li.active>a:focus {
        border-bottom-color: #FF5A00;
        box-shadow: none
    }
    .navbar .user-nav {
        margin-left: 30px
    }
    .navbar .user-nav>ul>li {
        margin-left: 20px
    }
    .navbar .search-form {
        float: left;
        margin-top: 9px
    }
    .navbar .search-form .form-control {
        width: 200px
    }
    .navbar .search-form .form-control:active,
    .navbar .search-form .form-control:focus {
        width: 250px
    }
}

.nav li>a:hover,
.nav li>a:focus {
    background: transparent
}

.nav li.open>a,
.nav li.open>a:hover,
.nav li.open>a:focus {
    background: transparent;
    border-bottom: 0
}
.nav--fixed {
    position: fixed;
    z-index: 800;
    right: 0;
    left: 0;
    top: 0;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.nav--fixed.slideUp {
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-animation: headerSlideUp 0.25s ease-in-out;
    -o-animation: headerSlideUp 0.25s ease-in-out;
    animation: headerSlideUp 0.25s ease-in-out
}

.nav--fixed.slideDown {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation: headerSlideDown 0.25s ease-in-out;
    -o-animation: headerSlideDown 0.25s ease-in-out;
    animation: headerSlideDown 0.25s ease-in-out
}

@-moz-keyframes headerSlideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0%)
    }
}

@-webkit-keyframes headerSlideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0%)
    }
}

@keyframes headerSlideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0%)
    }
}

@-moz-keyframes headerSlideUp {
    0% {
        -webkit-transform: translateY(0%)
    }
    100% {
        -webkit-transform: translateY(-100%)
    }
}

@-webkit-keyframes headerSlideUp {
    0% {
        -webkit-transform: translateY(0%)
    }
    100% {
        -webkit-transform: translateY(-100%)
    }
}

@keyframes headerSlideUp {
    0% {
        -webkit-transform: translateY(0%)
    }
    100% {
        -webkit-transform: translateY(-100%)
    }
}
#site-header .navbar-default{background-color: #161616; border-bottom: 1px solid #101010; box-shadow: 0px 4px 5px #161616;}
#site-header .navbar-default .navbar-nav>li>a {color: #E8E8E8;font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;}
#site-header .navbar-default .navbar-nav>li>a:hover, #site-header .navbar-default .navbar-nav>li>a:focus {color: #FF5A00;background-color: transparent;}
#site-header .navbar .nav>li.dots>a {
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0px;
}
#site-header .btn-primary {
    color: #FFFFFF;
    background-color: #FF5A00;
    border-color: #FF5A00;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
}
#site-header .btn-primary:hover, #site-header .btn-primary:focus, #site-header .btn-primary.focus, #site-header .btn-primary:active, #site-header .btn-primary.active, #site-header .open>.btn-primary.dropdown-toggle {
    color: #FFFFFF;
    background-color: #f15500;
    border-color: #b32200;
}
.dropdown-menu:before {
    content: '';
    top: -12px;
    left: 75%;
    position: absolute;
    border: 6px solid transparent;
    border-bottom-color: #FFFFFF;
    margin-left: -7px;
}
.dropdown-menu ul{margin: 10px 0;list-style: none;}
.navbar ul{list-style-type: none;padding-left: 0;}
.dropdown-menu li:first-child a{border-radius: 2px 2px 0 0;}
.navbar .nav>li.dots .dropdown-menu a {font-size: 18px;font-weight: 600;color: #505050;}
.dropdown-menu{min-width: 200px;margin: -5px 0 0 0;padding: 0 20px;border-radius: 2px;}
@media only screen and (max-width: 991px) {
    .navbar-header .logo {
        left: 50%;
        position: absolute;
        width: 114px;
        height: 40px;
        margin: 6px 0 0 -57px;
        background-size: 114px auto;
        background-position: 0 0
    }
    .navbar-header .logo:hover,
    .navbar-header .logo:focus,
    .navbar-header .logo.active {
        background-position: 0 0;
        background-color: transparent
    }
    .container>.navbar-header{margin-left: 0;margin-right: 0;}
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{background: none;}
@media only screen and (max-width: 991px) {
    .navbar .nav {
        margin: 0
    }
    .navbar .nav>li>a {
        margin: 0
    }
    .navbar .nav>li.active>a,
    .navbar .nav>li.active>a:hover,
    .navbar .nav>li.active>a:focus {
        position: relative
    }
    .navbar .nav>li.active>a:before,
    .navbar .nav>li.active>a:hover:before,
    .navbar .nav>li.active>a:focus:before {
        content: "";
        top: 50%;
        left: -10px;
        position: absolute;
        width: 4px;
        height: 20px;
        margin-top: -8px;
        background-color: #FF5A00
    }
    .navbar .nav>li.dots .dropdown-menu {
        display: block;
        position: static;
        margin: 0;
        padding: 0;
        background-color: transparent;
        box-shadow: none
    }
    .navbar .nav>li.dots .dropdown-menu:before {
        display: none
    }
    .navbar .nav>li.dots .dropdown-menu ul {
        margin: 0 !important
    }
    .navbar .nav>li.dots .dropdown-menu li a {
        padding: 0;
        color: #E8E8E8
    }
    .navbar .nav>li.dots .dropdown-menu li a:hover,
    .navbar .nav>li.dots .dropdown-menu li a:focus {
        color: #FF5A00
    }
    .navbar .nav>li.dots .dropdown-menu:after {
        display: none
    }
    .navbar .nav-left,
    .navbar .nav-right {
        float: none
    }
    .navbar .nav-left a {
        height: 50px;
        line-height: 50px;
        padding: 0
    }
    .navbar .user-nav {
        float: none
    }
    .navbar .user-nav>ul {
        margin-bottom: 0
    }
    .navbar .user-nav>ul a {
        margin: 0
    }
    .navbar .user-nav>ul>li.messages {
        top: 0;
        right: 65px;
        position: absolute
    }
    .navbar .user-nav>ul>li.cart {

    }
    .navbar .user-nav>ul>li.cart--alone {
        left: 10px
    }
    .navbar .user-nav>ul>li.user {
        position: static
    }
    .navbar .user-nav>ul>li.user .dropdown-menu {
        top: 50px;
        left: 0;
        position: absolute;
        width: 100%;
        height: calc(100vh - 45px);
        overflow-y: scroll;
        padding: 0 10px;
        background-color: #161616;
        border: 0;
        border-radius: 0 !important
    }
    .navbar .user-nav>ul>li.user .dropdown-menu h3.me {
        margin: 0
    }
    .navbar .user-nav>ul>li.user .dropdown-menu ul {
        margin: 0 0 20px
    }
    .navbar .user-nav>ul>li.user .dropdown-menu a {
        display: block;
        color: #E8E8E8;
        padding-top: 8px;
        padding-bottom: 8px
    }
    .navbar .user-nav>ul>li.user .dropdown-menu a i {
        top: 10px
    }
    .navbar .user-nav>ul>li.user .dropdown-menu a:hover,
    .navbar .user-nav>ul>li.user .dropdown-menu a:focus {
        color: #FF5A00
    }
    .navbar .user-nav>ul>li.user .dropdown-menu .divider {
        background-color: #505050
    }
    .navbar .user-nav>ul.loggedin li a.user-menu {
        top: 0;
        right: 10px;
        position: absolute;
        padding-left: 0;
        padding-right: 0
    }
    .navbar .user-nav>ul.loggedin li.open a.user-menu {
        background-color: transparent
    }
    .navbar .search-form {
        margin: 15px 0 25px
    }
    #site-header .collapse {
	    display: none!important;
	}
	#site-header .navbar-toggle {
	    display: block;
	}
	#site-header .collapse.in{
		display: block!important;
	}
	#site-header .navbar-nav>li {
	    float: none;
	}
	#site-header .navbar-header{
		float: none;
	}
	#site-header .navbar-collapse{
		padding-left: 0;
		padding-right: 0;
	}
	#site-header .navbar-nav{
		float: none;
	}
}
#site-header .container{position: relative;}
#site-header .navbar{margin-bottom: 0;}
.main{margin-top: 51px;}
/**/




@media only screen and (max-width: 990px){
 .backgroundResponsive{
   background: #000;
   padding-top: 5px;
   padding-left: 10px;
   padding-right: 10px;
 }

 .padding-0{
   padding: 0px;
   margin: 0px;
   width: 100%;
 }

 .navbar-toggle{
   margin-left: 10px !important;
 }

 .registerdat{ width: 80% !important; }
 .background0{ background: none;height: 54px;}
 .margintopresponsive{ margin-top:70px; }
}
/*search right*/
.search-right ul{padding:5px;padding-top:0px;}
.search-right ul li{position: relative;}
.search-right ul li input{padding-right: 27px;}
.search-right ul li span{width: 20px;height: 24px;color: #666;position: absolute;top:13px;right: 7px;font-size: 20px;}
.lead-cursos .pagination-sm>li>a{font-size: 15px;font-weight: bold;color: #666;padding: 6px 12px;}
.lead-cursos .pagination>.active>a{background: #666;border-color: #666;color: #fff;}

#wraper{
 margin:0 auto;
 overflow:hidden;
 width:960px;
 height:auto;
}

.loaderAjax{ display: none; }

#contenedorImagen .fotografia{
 margin: 20px auto;
 width:120px;
 height:120px;
 border: 1px solid #ccc;
 -moz-border-radius: 8px 8px 8px 8px;
 -webkit-border-radius: 8px 8px 8px 8px;
 border-radius: 8px 8px 8px 8px;
}

#wraper .contentLayout{ text-align: center; }


/*Rating*/
.star-ratings-sprite {
    background: url(../img/star-rating-sprite.png) repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
}
.star-ratings-sprite-rating {
    background: url(../img/star-rating-sprite.png) repeat-x;
    background-position: 0 100%;
    float: left;
    height: 21px;
    display: block;
}
.rated-s>span{color: #000;font-size: 15px;margin-left: 8px;}
.rated-s>span>em{font-style: normal;font-size: 13px;color: #666;}
.cnt-vivo{position: fixed;bottom: 120px;right: 60px;width: 280px;z-index: 999;}
.cnt-vivo figure{position: relative;}
.cnt-vivo figure img{width: 100%;}
.cnt-vivo figure i{width: 60px;height: 60px;display: block;position: absolute;left: 50%;top:50%;margin-left: -30px;margin-top: -30px;background: url(../img/play-v.png?v1) no-repeat;background-size: 100% 100%;opacity: 0.8;}
.cnt-content-vivo{padding: 10px;background: #fff;box-shadow: 0 2px 0 #E8E8E8;border: 1px solid #E8E8E8;}
.cnt-content-vivo h2{margin:0;font-size: 16px;color: #666;font-weight: bold;line-height: 130%;}
.cnt-content-vivo h3{text-align: center;color: #333;font-weight: bold;margin: 0;margin-bottom: 5px;}
/*Lista*/
.list-videos-b>ul{list-style:none;padding-left: 0;margin-bottom: 0;}
.list-videos-b>ul li{padding: 10px;}
.list-videos-b>ul li:nth-child(odd){background: #f9f9f9;border: 1px solid #eee;}
.list-videos-b>ul li:nth-child(even){background: #f1f1f1;border: 1px solid #eee;}
.list-videos-b>ul li h4{color: #FF5900;font-weight: bold;font-size: 18px;}
.list-videos-b>ul li p{color: #333;font-size: 16px;}
.estado-c{height: 23px;display: inline-block;line-height: 23px;padding: 0 18px;border-radius: 11px;color: #fff;}
.linkVer{background: #FA5500;}
.completado{background: #3c763d;}
.imcompleto{background: #CA4638;}
/**/
.list-cursos-int{padding: 10px;border-radius: 0;}
.list-cursos-int h3{font-weight: bold;font-size: 26px;color: #505050;}
.list-cursos-int .card-header, .list-cursos-int .card-footer{background: transparent;}
.card-footer .progress{margin-bottom: 10px!important;}
.list-cursos-int .card, .list-cursos-int .card-header:first-child, .list-cursos-int .card-footer:last-child{border-radius: 0;}
.list-cursos-int .card-footer{text-align: right;}
.list-cursos-int .card .img-c-int{display: block;}
.list-cursos-int .card .img-c-int img{width: 100%;}
.list-cursos-int .card .card-header, .list-cursos-int .card .card-footer{padding-left: 0;padding-right: 0;}
.list-cursos-int .card .card-header{border-bottom: 1px solid #ddd;padding-top: 0;}
.list-cursos-int .card .card-footer{border-top: 1px solid #ddd;padding-bottom: 0;}
.list-cursos-int>ul li.card{margin-bottom: 0;box-shadow: 0 0 0;}
.list-cursos-int>ul li:nth-child(odd){background: #f9f9f9;border: 1px solid #eee;}
.list-cursos-int>ul li:nth-child(even){background: #f1f1f1;border: 1px solid #eee;}
.list-cursos-int .card-title a{font-weight: normal;}
.menu-nav-t li{line-height: 160%;}
.menu-nav-t li a{display: block;}
.menu-nav-t>ul>li>a{line-height: 140%!important;}
.navbar-default .navbar-nav>.open>a{background: none;color: #FF5A00;}
.nav-header-j .dropdown-menu:before{left: 50%;}
.cnt-b-wra{margin-top: 1.25rem;margin-bottom: 1.25rem;}
.cnt-b-wra>.page-heading{padding-top: 0;}
.nav-header-r #fat-menu .dropdown-menu{padding-right: 0;}
.nav-header-r #fat-menu .dropdown-menu:before{left: 92%;}
#fat-menu>a{line-height: 56px;margin-bottom: 0;height: auto;border-bottom: 0;}
#fat-menu>ul>li>a{line-height: 140%;}
.noti-b-led{color: #fff;font-size: 20px;}
.noti-b-led:hover{color: #fff;}
.noti-b-led i{position: relative;}
.noti-b-led i span{width: 17px;height: 17px;line-height: 18px;text-align: center;color: #fff;font-size: 12px;position: absolute;top: -8px;right: -8px;background: #f44336;border-radius: 50%;font-weight: bold;font-family: "Roboto Condensed", sans-serif;}
.navbar ul>li>a{line-height: 56px;border-bottom: 0;}
.signup{line-height: 35px!important;padding: 0 12px!important;border-radius: 4px!important;}
.img-perfil-biia{margin-bottom: 10px;margin-top: 20px;display: inline-block;border-radius: 50%;width: 100px;height: 100px;}
.img-perfil-biia img{display: none;}
.noti-rr .dropdown-menu{padding: 0;width: 325px;}
.noti-rr .dropdown-menu:before{left: 94%;border-bottom-color: #eaedf2;}
.noti-rr.navbar-right .dropdown-menu{right: -10px;}
.noti-rr .dropdown-menu .external{background: #eaedf2;padding: 15px;display: block;overflow: hidden;}
.noti-rr .dropdown-menu .external h3{color: #62878f;margin: 0;padding: 0;font-size: 13px;font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;}
.noti-rr .dropdown-menu .external h3 .bold{font-weight: 700;}
.cnt-noti-u{max-height: 330px;overflow-y: scroll;}
.cnt-noti-u ul{margin: 0;}
.cnt-noti-u ul li a{white-space: normal;font-size: 14px!important;padding: 15px!important;border-bottom: 1px solid #EFF2F6!important;color: #444;font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;line-height: 120%;font-weight: bold!important;}
.cnt-noti-u ul li a em{font-size: 12px;line-height: 120%;font-style: normal;color: #666;margin-top: 7px;font-weight: normal;}
.cnt-noti-u ul li:first-child a{border-top:0;}
.cnt-noti-u ul li a .time{float: right;max-width: 75px;font-size: 11px;font-weight: 400;opacity: .7;filter: alpha(opacity=70);text-align: right;padding: 1px 5px;background: #e1e1e1;font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;margin-left: 5px;}
.cnt-noti-u ul li a:hover{text-decoration: none;background: #f8f9fa;}
.cnt-noti-u ul li a.new-n{background: #d1d1d1;}
.btnSuccess{background: #010522!important;border:1px solid #010522!important;}
.cnt-reproductor iframe{width: 100%!important;}
.btn-disable{cursor: not-allowed;pointer-events: none;opacity: 0.5;}
.class-margin-bonton-left{ float: left;width: 18%; }
.class-margin-bonton-center{ float: left;width: 64%; }
#idVideox{ width: 100% !important; background: #000; }

article.lead-nota a figure { min-height: 149px; }


.score-callback{ cursor: pointer !important; }
.facebook-l-home { border: 1px solid #2D4371; background: #3B5997; line-height: 40px; display: block; color: #fff; font-size: 14px; text-align: center;font-family: 'Open Sans',sans-serif;font-weight: 600;border-radius: 5px; }
.facebook-l-home:hover{ color:#fff !important; }
.logo-face { display: inline-block; vertical-align: middle; margin-right: 10px; background: url(/generic/img/f-t.png) no-repeat; width: 20px;height: 20px; }

.class-margin-video-left { padding-left:2.5px; }
.class-margin-video-right{ padding-right:2.5px; }

.menu-active-video{ background: #FA6C24;color: #fff !important; }

/* .menu-active-video a p{ color:#fff;  } */
.menu-video:hover{
  background: #FA6C24;
  cursor:pointer;
  color: #fff !important;

}

.menu-video p{  font-size:13px;color:#505050; }
.menu-video samp{  font-size:13px;color:#505050;font-family: inherit; }
.class-margin-comment{ background: #fff;margin-top: 15px;margin-bottom: 15px; }

@media (max-width: 768px){
 #fat-menu.open .dropdown-menu{position: absolute;float: none;width: auto;background-color: #fff;-webkit-background-clip: padding-box;background-clip: padding-box;border: 1px solid #ccc;border: 1px solid rgba(0,0,0,.15);-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);box-shadow: 0 6px 12px rgba(0,0,0,.175);left: auto;right: 0;}
 .cnt-home-s .container>.fluid-list{background: none!important;padding-bottom: 50px!important;}
 .list-videos ul li a time{float: inherit;display: block;font-size: 20px;}
 .list-videos ul li a span{font-size: 23px;line-height: 110%;display: block;margin-bottom: 5px;}
 .info-t h3{font-size: 24px;}
 /**/ /**/ /**/ /**/ /**/ /**/ /**/
 .class-margin-bonton-left{ float: left;width: 4.5% !important; }
 .class-margin-bonton-center{ float: left;width: 91% !important; }
 .class-margin-video-left { padding-left:15px; }
 .class-margin-video-right{ padding-right:15px; }
 .cnt-control ul li{ width: 100%; }
 .cnt-control ul li a{ font-size: 14px; }
 .margin-top-register{ margin-top: 20px; }
 .timeCount{ left: 0px !important;  }

 ul.list_pri_items li{
 	text-align: center;
 	background-position: 35%;
 }
 .class-center-reg{ text-align:center; }

}

.fondo-fuera{ margin-bottom: 20px; }

@media (max-width: 425px){
 .navbar-nav .open .dropdown-menu{position: fixed;left: 10px;right: 10px;}
 .noti-rr .dropdown-menu:before{left: initial;right: 62px;}
}


@media (max-width: 375px){
 #loginPage .modal-body{padding: 0;}
 .cnt-btn-login a img{width: 100%;}
 .navbar-header .logo{left: 0;margin-left: 60px;}
}

.class_color_register{ color: 010522; font-weight: 600; font-size: 20px;  }
.custom-alert{margin-bottom: 0;font-size: 18px;border-radius: 0;text-align: center;}
.custom-alert .close{opacity: 0.5;}
.custom-alert .close span{font-size: 30px;color: #000;}

h1, .h1, h2, .h2, h3, .h3 {
    letter-spacing: 0px;
}

a, a:hover {
    text-decoration: none;
}
.form-control {
    padding: 6px 12px;
	}

	.alert-danger {
    background-color: #23527c;
    border-color: #23527c;
    color: #ffffff;
    position: relative;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 38px;
}

*::-moz-placeholder, *:-moz-placeholder {
    color: #90949c;
}
.alert-danger::before {
    background-color: #23527c;
    border-color: #23527c;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    bottom: -8px;
    content: "";
    display: block;
    height: 14px;
    left: 50px;
    position: absolute;
    transform: rotate(45deg);
    width: 14px;
}


/*****************globals*************/

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.tab-content {
  overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
            animation-name: opacity;
    -webkit-animation-duration: .3s;
            animation-duration: .3s; }

.card {
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }
